<div class="container center">
    <div  class="row align-items-center full-height">
       <div class="col-12 col-md">
          <div *ngIf="Vote != undefined && Vote.firstCat != undefined" data-v-39df3fc3="" class="image catPicture"
          [ngStyle]="{'background': 'url(' + Vote.firstCat.imageUrl + ') no-repeat 0 0 / cover'}">
            <div class="image-selection hidden-sm-down catPicture">
               <button *ngIf="canVote" class="button catPicture" (click)="submitVote(true)">Sélectionner</button></div>
          </div>
       </div>
       <div data-v-39df3fc3="" class="col-12 col-md-1 secondary-text center">OR</div>
       <div data-v-39df3fc3="" class="col-12 col-md">
          <div data-v-39df3fc3="" *ngIf="Vote != undefined && Vote.secondCat != undefined" class="image catPicture" 
          [ngStyle]="{'background': 'url(' + Vote.secondCat.imageUrl + ') no-repeat 0 0 / cover'}">
             <div class="image-selection hidden-sm-down catPicture">
                <button *ngIf="canVote" class="button catPicture" (click)="submitVote(false)">Sélectionner</button></div>
          </div>
       </div>
    </div>
 </div>