
.image.firstCatPicture{
    -webkit-transition:border .4s;
    transition:border .4s;
    border:5px solid #f7c80e
}

.image.secondCatPicture{
    -webkit-transition:border .4s;
    transition:border .4s;
    border:5px solid #e2e2e0
}

.image.thirdCatPicture{
    -webkit-transition:border .4s;
    transition:border .4s;
    border:5px solid #e58d22
}

.btn-totalVote{
    width:50px;
    display:inline-block;
    padding:8px;
    margin:15px;
    text-decoration:none;
    font-weight:500;
    color:#fff;
    border-radius:3px;
    font-size:16px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.26)
}

.btn-firstCat{
    background:#ffe606;
    border:1px solid #ffe606;
}
.btn-secondCat{
    background:#e2e2e0;
    border:1px solid #e2e2e0;
}
.btn-thirdCat{
    background:#e58d22;
    border:1px solid #e58d22;
}