<div class="container">
    <div class="row">
      <div class="col">
        <div *ngIf="loading != true" data-v-39df3fc3="" class="image catPicture firstCatPicture"
          [ngStyle]="{'background': 'url(' + VoteResults[0].cat.imageUrl + ') no-repeat 0 0 / cover'}">
            <div class="image-selection hidden-sm-down catPicture">
               <button class="btn-firstCat catPicture firstCatPicture">Total des votes: {{VoteResults[0].totalVote}}</button>
              </div>
        </div>
      </div>
      <div class="col">
        <div *ngIf="loading != true" data-v-39df3fc3="" class="image catPicture secondCatPicture"
          [ngStyle]="{'background': 'url(' + VoteResults[1].cat.imageUrl + ') no-repeat 0 0 / cover'}">
            <div class="image-selection hidden-sm-down catPicture">
              <button class="btn-secondCat catPicture secondCatPicture">Total des votes: {{VoteResults[1].totalVote}}</button>
              </div>
        </div>
      </div>
      <div class="col">
        <div *ngIf="loading != true" data-v-39df3fc3="" class="image catPicture thirdCatPicture"
          [ngStyle]="{'background': 'url(' + VoteResults[2].cat.imageUrl + ') no-repeat 0 0 / cover'}">
            <div class="image-selection hidden-sm-down catPicture">
              <button class="btn-thirdCat catPicture thirdCatPicture">Total des votes: {{VoteResults[2].totalVote}}</button>
              </div>
        </div>
      </div>
    </div>
  </div>